<form method="post" action="{{ path('prywatne_dzielo_delete', {'id': prywatne_dzielo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prywatne_dzielo.id) }}">
    <button class="btn">Delete</button>
</form>
