{% if app.user.username == 'admin' %}
<form method="post" action="{{ path('autor_delete', {'id': autor.id}) }}" onsubmit="return confirm('Czy na pewno chcesz usunąć dany rekord?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ autor.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
{% endif %}
