<center>
{% extends 'base.html.twig' %}

{% block title %}Edytuj Autora{% endblock %}

{% block body %}
 <center>
    <h1>Edytuj Autora</h1>

    {{ include('autor/_form.html.twig', {'button_label': 'Zatwierdź'}) }}

    <a class="btn btn-warning" href="{{ path('autor_index') }}">Powrót do listy</a>

    {{ include('autor/_delete_form.html.twig') }}
</center>
{% endblock %}
</center>
