{% extends 'base.html.twig' %}

{% block title %}Hello DzieloController!{% endblock %}

{% block body %}
    {% set i = 0 %}
    <table class="dzielo_table">
        
    </table>
    
{% endblock %}
