<form method="post" action="{{ path('kategoria_delete', {'id': kategoria.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ kategoria.id) }}">
    <button class="btn btn-danger">Usuń</button>
</form>
