{% extends 'base.html.twig' %}

{% block title %}Dodaj Półkę{% endblock %}

{% block body %}
    <center>
    <h1>Dodaj Półkę</h1>

    {{ include('polka/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('polka_index') }}">Powrót do listy</a>
    </center>
{% endblock %}
